@import "../01-helpers/variables";

.button {
  display: inline-block;
  background-color: $title-color;
  color: $container-color;
  padding: 1.25rem 2rem;
  border-radius: 1rem;
  font-weight: $font-medium;
  box-shadow: 0 1px 3px $text-color;
  &:active {
    transform: translate(0px, 1px);
    box-shadow: none;
  }
  &:hover {
    background-color: $title-color-dark;
  }
}

.button__icon {
  margin-left: $mb-0-5;
}
.button--flex {
  display: inline-flex;
  align-items: center;
}

@media screen and (max-width: 992px) {
  .button {
    padding: 1rem 1.75rem;
  }
  .button__icon {
    width: 22px;
    height: 22px;
  }
}
